---
---

  <h1>Copa Libertadores 1967</h1>

  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Racing_v_nacional_gol_raffo.jpg/250px-Racing_v_nacional_gol_raffo.jpg" alt="Raffo" />

  <p>
    El 29 de agosto de 1967, Racing vencia por 2 - 1 a Nacional de Uruguay en Lima, Peru, en el tercer partido final (desempate) y se consagraba campeon de su primera y unica Copa Libertadores.
  </p>

  <p>
    Racing 2 - 1 Nacional<br/>
    Cardoso (14'); Raffo (43');
  </p>

</section>

<section class="contenido">

  <h2>Copa Intercontinental 1967</h2>

  <img src="https://www.pagina12.com.ar/resizer/v2/GIZGGNDDGFRGMY3EGAZTSYTCGA.jpg?auth=cf2e1ddb62ab48b5dcbc243672f07a0b5040adc239db5a6c29148c550eb0305e" alt="Cardenas" />

  <p>
    El 4 de noviembre de 1967, Racing vencio por 1-0 al Celtic de Escocia en Montevideo con un zapatazo del Chango Cardenas, para convertirse en el primer club argentino campeon del mundo, tras caer 1 - 0 en Escocia y ganar 2 - 1 en Avellaneda.
  </p>

  <p>
    Racing 1 - 0 Celtic<br/>
    Cardenas (55');
  </p>

</section>

<style>
.contenido{
max-width:600px;
margin:40px auto;
text-align:center;
}

.contenido img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}
</style>