---
---

<h1>1967</h1>

<section class="contenido">

  <h2>Libertadores</h2>

  <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Racing_v_nacional_gol_raffo.jpg" />

  <p>
    El 29 de agosto de 1967, Racing vencia por 2 - 1 a Nacional de Uruguay en Lima, Peru, en el tercer partido final (desempate) y se consagraba campeon de su primera y unica Copa Libertadores.
  </p>

</section>

<section class="contenido">

  <h2>Intercontinental</h2>

  <img src="https://upload.wikimedia.org/wikipedia/commons/2/29/Gol_cardenas_celtic.jpg" />

  <p>
    El 4 de noviembre de 1967, Racing vencio por 1-0 al Celtic de Escocia en Montevideo con un zapatazo del Chango Cardenas, para convertirse en el primer club argentino campeon del mundo, tras caer 1 - 0 en Escocia y ganar 2 - 1 en Avellaneda.
  </p>

</section>

<style>
body{
background:#0b1d3a;
color:white;
font-family:Arial;
text-align:center;
}

.contenido{
max-width:700px;
margin:40px auto;
}

.contenido img{
width:100%;
border-radius:10px;
}
</style>