---
---

<h1>Copa Sudamericana 2024</h1>

<section class="contenido">

  <img src="https://image-service.onefootball.com/transform?w=280&h=210&dpr=2&image=https%3A%2F%2Ffutbolete.com%2Fwp-content%2Fuploads%2F2024%2F11%2Froger-martinez-racing-final-sudamericana-cruzeiro.jpg" alt="Roger" />

  <p>
    El 23 de noviembre de 2024, en Asuncion del Paraguay, el Racing de Gustavo Costas vencio por 3 - 1 a Cruzeiro de Brasil y volvio a levantar un titulo internacional despues de 36 años de sequia.
  </p>

  <p>
    Racing 3 - 1 Cruzeiro<br/>
    Martirena (15'); A. Martinez (20'); R. Martinez (90+5');
  </p>

</section>

<style>
.contenido{
max-width:600px;
margin:20px auto;
text-align:center;
}

.contenido img{
width:100%;
border-radius:10px;
margin-bottom:20px;
}
</style>