---
---

<h1>Copa Sudamericana 2024</h1>

<section class="contenido">

  <img src="https://d59jb5sy46ag5.cloudfront.net/filesedc/uploads/image/post/l-1732401994-36982_1600_1067.jpg" />

  <p>
    El 23 de noviembre de 2024, en Asuncion del Paraguay, el Racing de Gustavo Costas vencio por 3 - 1 a Cruzeiro de Brasil y volvio a levantar un titulo internacional despues de 36 años de sequia.
  </p>

</section>

<style>
body{
background:#0b1d3a;
color:white;
font-family:Arial;
text-align:center;
}

.contenido{
max-width:700px;
margin:40px auto;
}

.contenido img{
width:100%;
border-radius:10px;
}
</style>